<!--Start breadcrumb area-->
<section
  class="breadcrumb-area style2"
  style="background-image: url(assets/images/resources/breadcrumb-bg-2.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content-box clearfix">
          <div class="title-s2 text-center">
            <span>{{ "FAQ.Custoemrs FAQ’s" | translate }}</span>
            <h1>{{ "FAQ.P11" | translate }}</h1>
          </div>
          <div class="breadcrumb-menu float-left">
            <ul class="clearfix">
              <li>
                <a [routerLink]="['/home']">{{ "FAQ.Home" | translate }}</a>
              </li>
              <li class="active">{{ "FAQ.FAQ’s" | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start faq area-->
<section class="faq-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="faq-content-box">
          <div class="accordion-box">
            <!--Start single accordion box-->
            <div class="accordion accordion-block">
              <div class="accord-btn">
                <h4>{{ "FAQ.P1" | translate }}</h4>
              </div>
              <div class="accord-content">
                <p>
                  {{ "FAQ.P4" | translate }}
                </p>
              </div>
            </div>
            <!--End single accordion box-->
            <!--Start single accordion box-->
            <div class="accordion accordion-block">
              <div class="accord-btn active">
                <h4>{{ "FAQ.P3" | translate }}</h4>
              </div>
              <div class="accord-content collapsed">
                <p>
                  {{ "FAQ.P4" | translate }}
                </p>
              </div>
            </div>
            <!--End single accordion box-->
            <!--Start single accordion box-->
            <div class="accordion accordion-block">
              <div class="accord-btn">
                <h4>
                  {{ "FAQ.P5" | translate }}
                </h4>
              </div>
              <div class="accord-content">
                <p>
                  {{ "FAQ.P4" | translate }}
                </p>
              </div>
            </div>
            <!--End single accordion box-->
            <!--Start single accordion box-->
            <div class="accordion accordion-block">
              <div class="accord-btn">
                <h4>{{ "FAQ.P6" | translate }}</h4>
              </div>
              <div class="accord-content">
                <p>
                  {{ "FAQ.P4" | translate }}
                </p>
              </div>
            </div>
            <!--End single accordion box-->
            <!--Start single accordion box-->
            <div class="accordion accordion-block">
              <div class="accord-btn">
                <h4>{{ "FAQ.P7" | translate }}</h4>
              </div>
              <div class="accord-content">
                <p>
                  {{ "FAQ.P4" | translate }}
                </p>
              </div>
            </div>
            <!--End single accordion box-->
            <!--Start single accordion box-->
            <div class="accordion accordion-block">
              <div class="accord-btn">
                <h4>
                  {{ "FAQ.P8" | translate }}
                </h4>
              </div>
              <div class="accord-content">
                <p>
                  {{ "FAQ.P4" | translate }}
                </p>
              </div>
            </div>
            <!--End single accordion box-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End faq area-->
<app-footer></app-footer>
