<!--Start breadcrumb area-->
<section
  class="breadcrumb-area style2"
  style="background-image: url(assets/images/resources/breadcrumb-bg-2.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content-box clearfix">
          <div class="title-s2 text-center">
            <span>{{ "ERROR.Error Page" | translate }}</span>
            <h1>{{ "ERROR.Page Not Found" | translate }}</h1>
          </div>
          <div class="breadcrumb-menu float-left">
            <ul class="clearfix">
              <li><a [routerLink]="['/home']"></a></li>
              <li class="active">{{ "ERROR.Error Page" | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start Error Page Area-->
<section class="error-page-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="error-content text-center">
          <span>{{ "ERROR.Page Not Found" | translate }}</span>
          <div class="title">404</div>
          <p>
            {{ "ERROR.P1" | translate }}
          </p>
          <div class="button">
            <a class="btn-one" [routerLink]="['/home']">{{
              "ERROR.Back to Home" | translate
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Error Page  wow slideInUp" data-wow-delay="0ms" data-wow-duration="1500ms" Area-->
<app-footer></app-footer>
