<!-- Start Top Bar style2 -->
<section class="top-bar-style2">
  <div class="top-style2 clearfix">
    <div class="top-style2-left">
      <p><span class="icon-music"></span>{{ "NAV-BAR.ANSWERS" | translate }}</p>
      <ul>
        <li>+324 123 45 978</li>
        <li>abc@yourdomain.com</li>
        <li>{{ "NAV-BAR.TIME" | translate }}</li>
      </ul>
    </div>
    <div class="top-style2-right">
      <ul class="top-right-menu">
        <li>
          <a href="#">{{ "NAV-BAR.Partners" | translate }}</a>
        </li>
        <li>
          <a href="#">{{ "NAV-BAR.Media" | translate }}</a>
        </li>
        <li>
          <a href="#">{{ "NAV-BAR.View" | translate }}</a>
        </li>
        <li>
          <a [routerLink]="['/faq']">{{ "NAV-BAR.FAQ" | translate }}</a>
        </li>
      </ul>
      <ul class="topbar-social-links">
        <li>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- End Top Bar style2 -->

<!--Start Main Header-->
<header class="main-header header-style2 stricky">
  <div class="inner-container clearfix">
    <div class="logo-box-style2 float-left">
      <a [routerLink]="['/home']">
        <img src="assets/images/resources/logo.png" alt="Awesome Logo" />
      </a>
    </div>
    <div class="main-menu-box float-right">
      <nav class="main-menu style2 clearfix">
        <div class="navbar-header clearfix">
          <button
            type="button"
            id="toggle"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="coll" class="navbar-collapse collapse clearfix">
          <ul class="navigation clearfix">
            <li routerLinkActive="current">
              <a [routerLink]="['/home']" id="home">{{
                "NAV-BAR.HOME" | translate
              }}</a>
            </li>

            <li class="dropdown" routerLinkActive="current">
              <a id="about-us">{{ "NAV-BAR.About-Us" | translate }}</a>
              <ul id="about-us-ul">
                <li routerLinkActive="current">
                  <a [routerLink]="['/about']" id="about-company">{{
                    "NAV-BAR.About-Company" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/faq']" id="faq">{{
                    "NAV-BAR.FAQ’s" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/soon']" id="soon">{{
                    "NAV-BAR.Coming-Soon" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/404']" id="error-page">{{
                    "NAV-BAR.Error-Page" | translate
                  }}</a>
                </li>
              </ul>
              <div class="dropdown-btn" id="about-us-btn"></div>
            </li>

            <li routerLinkActive="current" class="dropdown">
              <a id="services">{{ "NAV-BAR.Services" | translate }}</a>
              <ul id="services-ul">
                <li routerLinkActive="current">
                  <a [routerLink]="['/serveces']" id="all-services">{{
                    "NAV-BAR.View-All-Services" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/condesigns']" id="cons-design">{{
                    "NAV-BAR.Concept-Designs" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/prodesigns']" id="proj-design">{{
                    "NAV-BAR.Project-Designs" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/makeovers']" id="make-overs">{{
                    "NAV-BAR.Make-Overs" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/consulting']" id="consulting">{{
                    "NAV-BAR.Consulting" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/glasswrought']" id="glas-wrought">{{
                    "NAV-BAR.Glass&Wrought" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/spaceplanning']" id="space-planning">{{
                    "NAV-BAR.Space-Planning" | translate
                  }}</a>
                </li>
              </ul>
              <div class="dropdown-btn" id="services-btn"></div>
            </li>

            <li routerLinkActive="current" class="dropdown">
              <a id="projects">{{ "NAV-BAR.Projects" | translate }} </a>
              <ul id="projects-ul">
                <li routerLinkActive="current">
                  <a [routerLink]="['/classic1']" id="classic1">{{
                    "NAV-BAR.Classic-View-01" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/classic2']" id="classic2">{{
                    "NAV-BAR.Classic-View-02" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/modern1']" id="modern1">{{
                    "NAV-BAR.Modern-View-01" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/modern2']" id="modern2">{{
                    "NAV-BAR.Modern-View-02" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current" id="270">
                  <a [routerLink]="['/fwidth1']" id="fwidth1">{{
                    "NAV-BAR.Fullwidth-01" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/fwidth2']" id="fwidth2">{{
                    "NAV-BAR.Fulldwidth-02" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/singleproject']" id="singleproject">{{
                    "NAV-BAR.Projects-Single" | translate
                  }}</a>
                </li>
              </ul>
              <div class="dropdown-btn" id="projects-btn"></div>
            </li>

            <li routerLinkActive="current" class="dropdown">
              <a id="blog">{{ "NAV-BAR.Blog" | translate }}</a>
              <ul id="blog-ul">
                <li routerLinkActive="current">
                  <a [routerLink]="['/BGV']" id="BGV">{{
                    "NAV-BAR.Blog-Grid-View" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/BWS']" id="BWS">{{
                    "NAV-BAR.Blog-With-Sidebar" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/singleblog']" id="singleblog">{{
                    "NAV-BAR.Blog-Single-Post" | translate
                  }}</a>
                </li>
              </ul>
              <div class="dropdown-btn" id="blog-btn"></div>
            </li>

            <li routerLinkActive="current" class="dropdown">
              <a id="shop">{{ "NAV-BAR.Shop" | translate }}</a>
              <ul id="shop-ul">
                <li routerLinkActive="current">
                  <a [routerLink]="['/ourproducts']" id="ourproducts">{{
                    "NAV-BAR.Our-roducts" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/singleproducts']" id="singleproducts">{{
                    "NAV-BAR.Products-Single" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/shoppingcard']" id="shoppingcard">{{
                    "NAV-BAR.Shopping-Cart" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/checkout']" id="checkout">{{
                    "NAV-BAR.Checkout" | translate
                  }}</a>
                </li>
                <li routerLinkActive="current">
                  <a [routerLink]="['/myaccount']" id="myaccount">{{
                    "NAV-BAR.My-Account" | translate
                  }}</a>
                </li>
              </ul>
              <div class="dropdown-btn" id="shop-btn"></div>
            </li>
            <li routerLinkActive="current" class="dropdown">
              <a id="language">{{ "NAV-BAR.Language" | translate }} </a>
              <ul id="language-ul">
                <li>
                  <a
                    class="en"
                    (click)="addEn(); switchLanguage('en')"
                    id="english"
                    >{{ "NAV-BAR.English" | translate }}</a
                  >
                </li>
                <li>
                  <a
                    class="ar"
                    (click)="addAr(); switchLanguage('ar')"
                    id="arabic"
                    >{{ "NAV-BAR.Arabic" | translate }}</a
                  >
                </li>
              </ul>
              <div class="dropdown-btn" id="language-btn"></div>
            </li>

            <li>
              <a [routerLink]="['/404']" id="contact">{{
                "NAV-BAR.Contact" | translate
              }}</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="mainmenu-right style2">
        <div class="outer-search-box">
          <div class="seach-toggle"><i class="fa fa-search"></i></div>
          <ul class="search-box">
            <li>
              <form method="post" action="#">
                <div class="form-group">
                  <input
                    type="search"
                    name="search"
                    placeholder="Search Here"
                    required
                  />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </li>
          </ul>
        </div>
        <div class="cart-box">
          <a [routerLink]="['/404']"
            ><span class="icon-bag"><span class="number">0</span></span></a
          >
        </div>
      </div>
    </div>
  </div>
</header>
<!--End Main Header-->
