<!--Start breadcrumb area-->
<section
  class="breadcrumb-area"
  style="background-image: url(assets/images/resources/breadcrumb-bg.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content clearfix">
          <div class="title">
            <h1>
              {{ "ABOUT.Talented Interior" | translate }}<br />
              {{ "ABOUT.Designer" | translate }}
            </h1>
          </div>
          <div class="breadcrumb-menu float-right">
            <ul class="clearfix">
              <li>
                <a [routerLink]="['/home']">{{ "ABOUT.Home" | translate }}</a>
              </li>
              <li class="active">{{ "ABOUT.Account" | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start Company Overview Area-->
<section class="company-overview-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="intro-box clearfix">
          <div class="sec-title">
            <p>{{ "ABOUT.Company Overview" | translate }}</p>
            <div class="title">
              {{ "ABOUT.Modern & Luxury" | translate }}<br />
              <span>{{ "ABOUT.Interior Designers in USA" | translate }}</span>
            </div>
          </div>
          <div class="text">
            <p>
              {{ "ABOUT.P1" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="history-content-box clearfix">
          <div class="history-carousel owl-carousel owl-theme">
            <!--Start Single History Content-->
            <div class="single-history-content">
              <div class="img-box">
                <div class="inner">
                  <img
                    src="assets/images/resources/history-1.jpg"
                    alt="Awesome Image"
                  />
                </div>
              </div>
              <div class="text-box">
                <div class="inner">
                  <div class="date">
                    <h3>1983</h3>
                  </div>
                  <div class="title">
                    <h3>
                      {{ "ABOUT.Crystalo Was Founded by" | translate }}<br />
                      {{ "ABOUT.Chris Miller in USA." | translate }}
                    </h3>
                  </div>
                  <div class="text">
                    <p>
                      {{ "ABOUT.P2" | translate }}
                    </p>
                    <a class="btn-two" [routerLink]="['/faq']"
                      >{{ "ABOUT.Read More" | translate
                      }}<span class="flaticon-next"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Single History Content-->
            <!--Start Single History Content-->
            <div class="single-history-content">
              <div class="img-box">
                <div class="inner">
                  <img
                    src="assets/images/resources/history-2.jpg"
                    alt="Awesome Image"
                  />
                </div>
              </div>
              <div class="text-box">
                <div class="inner">
                  <div class="date">
                    <h3>1984</h3>
                  </div>
                  <div class="title">
                    <h3>
                      {{ "ABOUT.Crystalo Was Founded by" | translate }}<br />
                      {{ "ABOUT.Chris Miller in USA." | translate }}
                    </h3>
                  </div>
                  <div class="text">
                    <p>
                      {{ "ABOUT.P2" | translate }}
                    </p>
                    <a class="btn-two" [routerLink]="['/faq']"
                      >{{ "ABOUT.Read More" | translate
                      }}<span class="flaticon-next"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Single History Content-->
            <!--Start Single History Content-->
            <div class="single-history-content">
              <div class="img-box">
                <div class="inner">
                  <img
                    src="assets/images/resources/history-1.jpg"
                    alt="Awesome Image"
                  />
                </div>
              </div>
              <div class="text-box">
                <div class="inner">
                  <div class="date">
                    <h3>1985</h3>
                  </div>
                  <div class="title">
                    <h3>
                      {{ "ABOUT.Crystalo Was Founded by" | translate }}<br />
                      {{ "ABOUT.Chris Miller in USA." | translate }}
                    </h3>
                  </div>
                  <div class="text">
                    <p>
                      {{ "ABOUT.P2" | translate }}
                    </p>
                    <a class="btn-two" [routerLink]="['/faq']"
                      >{{ "ABOUT.Read More" | translate
                      }}<span class="flaticon-next"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Single History Content-->
            <!--Start Single History Content-->
            <div class="single-history-content">
              <div class="img-box">
                <div class="inner">
                  <img
                    src="assets/images/resources/history-2.jpg"
                    alt="Awesome Image"
                  />
                </div>
              </div>
              <div class="text-box">
                <div class="inner">
                  <div class="date">
                    <h3>1986</h3>
                  </div>
                  <div class="title">
                    <h3>
                      {{ "ABOUT.Crystalo Was Founded by" | translate }}<br />
                      {{ "ABOUT.Chris Miller in USA." | translate }}
                    </h3>
                  </div>
                  <div class="text">
                    <p>
                      {{ "ABOUT.P2" | translate }}
                    </p>
                    <a class="btn-two" [routerLink]="['/faq']"
                      >{{ "ABOUT.Read More" | translate
                      }}<span class="flaticon-next"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Single History Content-->
            <!--Start Single History Content-->
            <div class="single-history-content">
              <div class="img-box">
                <div class="inner">
                  <img
                    src="assets/images/resources/history-2.jpg"
                    alt="Awesome Image"
                  />
                </div>
              </div>
              <div class="text-box">
                <div class="inner">
                  <div class="date">
                    <h3>1987</h3>
                  </div>
                  <div class="title">
                    <h3>
                      {{ "ABOUT.Crystalo Was Founded by" | translate }}<br />
                      {{ "ABOUT.Chris Miller in USA." | translate }}
                    </h3>
                  </div>
                  <div class="text">
                    <p>
                      {{ "ABOUT.P2" | translate }}
                    </p>
                    <a class="btn-two" [routerLink]="['/faq']"
                      >{{ "ABOUT.Read More" | translate
                      }}<span class="flaticon-next"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Single History Content-->
          </div>
        </div>
      </div>
    </div>
    <div class="row fact-counter">
      <!--Start Single Fact Counter-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div
          class="single-fact-counter wow fadeInLeft"
          data-wow-delay="100ms"
          data-wow-duration="1500ms"
        >
          <div class="count-box">
            <h1>
              <span
                class="timer"
                data-from="1"
                data-to="36"
                data-speed="5000"
                data-refresh-interval="50"
                >36</span
              >
            </h1>
          </div>
          <div class="title">
            <h3>
              {{ "ABOUT.Years of" | translate }}<br />
              {{ "ABOUT.Experience" | translate }}
            </h3>
          </div>
        </div>
      </div>
      <!--End Single Fact Counter-->
      <!--Start Single Fact Counter-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div
          class="single-fact-counter wow fadeInLeft"
          data-wow-delay="200ms"
          data-wow-duration="1500ms"
        >
          <div class="count-box">
            <h1>
              <span
                class="timer"
                data-from="1"
                data-to="5"
                data-speed="5000"
                data-refresh-interval="50"
                >5</span
              >
              <img src="assets/images/icon/k.png" alt="" />
            </h1>
          </div>
          <div class="title">
            <h3>
              {{ "ABOUT.Projects" | translate }}<br />
              {{ "ABOUT.Completed" | translate }}
            </h3>
          </div>
        </div>
      </div>
      <!--End Single Fact Counter-->
      <!--Start Single Fact Counter-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div
          class="single-fact-counter wow fadeInLeft"
          data-wow-delay="300ms"
          data-wow-duration="1500ms"
        >
          <div class="count-box">
            <h1>
              <span
                class="timer"
                data-from="1"
                data-to="24"
                data-speed="5000"
                data-refresh-interval="50"
                >24</span
              >
            </h1>
          </div>
          <div class="title">
            <h3>
              {{ "ABOUT.Branches" | translate }}<br />
              {{ "ABOUT.Worldwide" | translate }}
            </h3>
          </div>
        </div>
      </div>
      <!--End Single Fact Counter-->
      <!--Start Single Fact Counter-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div
          class="single-fact-counter wow fadeInLeft"
          data-wow-delay="400ms"
          data-wow-duration="1500ms"
        >
          <div class="count-box">
            <h1>
              <span
                class="timer"
                data-from="1"
                data-to="47"
                data-speed="5000"
                data-refresh-interval="50"
                >47</span
              >
            </h1>
          </div>
          <div class="title">
            <h3>
              {{ "ABOUT.Awards" | translate }}<br />
              {{ "ABOUT.Holds in Hand" | translate }}
            </h3>
          </div>
        </div>
      </div>
      <!--End Single Fact Counter-->
    </div>
  </div>
</section>
<!--End Company Overview Area-->

<!--Start Team Area-->
<section class="team-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="sec-title float-left">
          <p>{{ "ABOUT.Behind Our Company" | translate }}</p>
          <div class="title">
            {{ "ABOUT.Expert & Experinced" | translate }}
            <span>{{ "ABOUT.Team" | translate }}</span>
          </div>
        </div>
        <div class="view-all-member style2 float-right">
          <a class="btn-one" [routerLink]="['/about']"
            >{{ "ABOUT.All Members" | translate
            }}<span class="flaticon-next"></span
          ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Start Single Team Member-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="single-team-member">
          <div class="img-holder">
            <img src="assets/images/team/v2-1.jpg" alt="Awesome Image" />
            <ul class="sociallinks">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
              </li>
            </ul>
            <div class="overlay">
              <div class="box">
                <div class="link">
                  <a class="btn-two" [routerLink]="['/BGV']"
                    >{{ "ABOUT.View Profile" | translate
                    }}<span class="flaticon-next"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="name text-center">
            <p>
              <span>{{ "ABOUT.CEO & Founder" | translate }}</span>
            </p>
            <h3>{{ "ABOUT.Alison Fletcher" | translate }}</h3>
          </div>
        </div>
      </div>
      <!--End Single Team Member-->
      <!--Start Single Team Member-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="single-team-member">
          <div class="img-holder">
            <img src="assets/images/team/v2-2.jpg" alt="Awesome Image" />
            <ul class="sociallinks">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
              </li>
            </ul>
            <div class="overlay">
              <div class="box">
                <div class="link">
                  <a class="btn-two" [routerLink]="['/BGV']"
                    >{{ "ABOUT.View Profile" | translate
                    }}<span class="flaticon-next"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="name text-center">
            <p>
              <span>{{ "ABOUT.Designer" | translate }}</span>
            </p>
            <h3>{{ "ABOUT.Joe Wilson" | translate }}</h3>
          </div>
        </div>
      </div>
      <!--End Single Team Member-->
      <!--Start Single Team Member-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="single-team-member">
          <div class="img-holder">
            <img src="assets/images/team/v2-3.jpg" alt="Awesome Image" />
            <ul class="sociallinks">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
              </li>
            </ul>
            <div class="overlay">
              <div class="box">
                <div class="link">
                  <a class="btn-two" [routerLink]="['/BGV']"
                    >{{ "ABOUT.View Profile" | translate
                    }}<span class="flaticon-next"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="name text-center">
            <p>
              <span>{{ "ABOUT.Architect" | translate }}</span>
            </p>
            <h3>{{ "ABOUT.White Grey" | translate }}</h3>
          </div>
        </div>
      </div>
      <!--End Single Team Member-->
      <!--Start Single Team Member-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div class="single-team-member">
          <div class="img-holder">
            <img src="assets/images/team/v2-4.jpg" alt="Awesome Image" />
            <ul class="sociallinks">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i
                ></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
              </li>
            </ul>
            <div class="overlay">
              <div class="box">
                <div class="link">
                  <a class="btn-two" [routerLink]="['/BGV']"
                    >{{ "ABOUT.View Profile" | translate
                    }}<span class="flaticon-next"></span
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="name text-center">
            <p>
              <span>{{ "ABOUT.Manager" | translate }}</span>
            </p>
            <h3>{{ "ABOUT.Kevin Smith" | translate }}</h3>
          </div>
        </div>
      </div>
      <!--End Single Team Member-->
    </div>
  </div>
</section>
<!--End Team Area-->

<!--Start Brand area style2-->
<section class="brand-area style2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <ul>
          <!--Start Single Brand Item-->
          <li
            class="single-brand-item style2 wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <a href="#"
              ><img src="assets/images/brand/1.png" alt="Awesome Brand Image"
            /></a>
            <div class="overlay-content">
              <p>Miesian</p>
            </div>
          </li>
          <!--End Single Brand Item-->
          <!--Start Single Brand Item-->
          <li
            class="single-brand-item style2 wow fadeInUp"
            data-wow-delay="200ms"
            data-wow-duration="1500ms"
          >
            <a href="#"
              ><img src="assets/images/brand/2.png" alt="Awesome Brand Image"
            /></a>
            <div class="overlay-content">
              <p>Miesian</p>
            </div>
          </li>
          <!--End Single Brand Item-->
          <!--Start Single Brand Item-->
          <li
            class="single-brand-item style2 wow fadeInUp"
            data-wow-delay="400ms"
            data-wow-duration="1500ms"
          >
            <a href="#"
              ><img src="assets/images/brand/3.png" alt="Awesome Brand Image"
            /></a>
            <div class="overlay-content">
              <p>Miesian</p>
            </div>
          </li>
          <!--End Single Brand Item-->
          <!--Start Single Brand Item-->
          <li
            class="single-brand-item style2 wow fadeInUp"
            data-wow-delay="600ms"
            data-wow-duration="1500ms"
          >
            <a href="#"
              ><img src="assets/images/brand/4.png" alt="Awesome Brand Image"
            /></a>
            <div class="overlay-content">
              <p>Miesian</p>
            </div>
          </li>
          <!--End Single Brand Item-->
          <!--Start Single Brand Item-->
          <li
            class="single-brand-item style2 wow fadeInUp"
            data-wow-delay="800ms"
            data-wow-duration="1500ms"
          >
            <a href="#"
              ><img src="assets/images/brand/5.png" alt="Awesome Brand Image"
            /></a>
            <div class="overlay-content">
              <p>Miesian</p>
            </div>
          </li>
          <!--End Single Brand Item-->
          <!--Start Single Brand Item-->
          <li
            class="single-brand-item style2 wow fadeInUp"
            data-wow-delay="800ms"
            data-wow-duration="1500ms"
          >
            <a href="#"
              ><img src="assets/images/brand/6.png" alt="Awesome Brand Image"
            /></a>
            <div class="overlay-content">
              <p>Miesian</p>
            </div>
          </li>
          <!--End Single Brand Item-->
        </ul>
      </div>
    </div>
  </div>
</section>
<!--End Brand area style2-->
<app-footer></app-footer>
