<!--Start breadcrumb area-->
<section
  class="breadcrumb-area style2"
  style="background-image: url(assets/images/resources/breadcrumb-bg-2.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content-box clearfix">
          <div class="title-s2 text-center">
            <span>{{ "BWS.Blog With Sidebar" | translate }}</span>
            <h1>{{ "BWS.The (r)Evolution of Media" | translate }}</h1>
          </div>
          <div class="breadcrumb-menu float-left">
            <ul class="clearfix">
              <li>
                <a [routerLink]="['/home']">{{ "BWS.Home" | translate }}</a>
              </li>
              <li>
                <a [routerLink]="['/BGV']">{{ "BWS.Blog" | translate }}</a>
              </li>
              <li class="active">{{ "BWS.Blog With Sidebar" | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start blog area-->
<section id="blog-area" class="blog-large-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
        <div class="blog-post">
          <!--Start Single blog Post style4-->
          <div
            class="single-blog-post style4 wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="img-holder">
              <img src="assets/images/blog/v2-1.jpg" alt="Awesome Image" />
              <div class="overlay-style-two"></div>
              <div class="overlay">
                <div class="box">
                  <div class="link-icon">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-link1"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3 class="blog-title">
                <a [routerLink]="['/singleblog']">{{ "BWS.P6" | translate }}</a>
              </h3>
              <div class="meta-box">
                <ul class="meta-info">
                  <li>
                    {{ "BWS.By" | translate }}
                    <a [routerLink]="['/checkout']">{{
                      "BWS.Rubin Santro" | translate
                    }}</a>
                  </li>
                  <li>
                    {{ "BWS.On" | translate }}
                    <a href="#">{{ "BWS.March" | translate }} 06, 2019</a>
                  </li>
                  <li>
                    {{ "BWS.In" | translate }}
                    <a href="#">{{ "BWS.Traditional" | translate }}</a>
                  </li>
                </ul>
              </div>
              <div class="text">
                <p>{{ "BWS.P1" | translate }}</p>
              </div>
              <div class="button">
                <a class="btn-one" [routerLink]="['/singleblog']"
                  >{{ "BWS.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
          <!--End Single blog Post style4-->
          <!--Start Single blog Post style4-->
          <div
            class="single-blog-post style4 wow fadeInUp"
            data-wow-delay="100ms"
            data-wow-duration="1500ms"
          >
            <div class="img-holder">
              <img src="assets/images/blog/v2-2.jpg" alt="Awesome Image" />
              <div class="overlay-style-two"></div>
              <div class="overlay">
                <div class="box">
                  <div class="link-icon">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-link1"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3 class="blog-title">
                <a [routerLink]="['/singleblog']">{{ "BWS.P7" | translate }}</a>
              </h3>
              <div class="meta-box">
                <ul class="meta-info">
                  <li>
                    {{ "BWS.By" | translate }}
                    <a [routerLink]="['/checkout']">{{
                      "BWS.Mark Wood" | translate
                    }}</a>
                  </li>
                  <li>
                    {{ "BWS.On" | translate }}
                    <a href="#">{{ "BWS.February" | translate }} 18, 2019</a>
                  </li>
                  <li>
                    {{ "BWS.In" | translate }}
                    <a href="#">{{ "BWS.Contemporary" | translate }}</a>
                  </li>
                </ul>
              </div>
              <div class="text">
                <p>{{ "BWS.P2" | translate }}</p>
              </div>
              <div class="button">
                <a class="btn-one" [routerLink]="['/singleblog']"
                  >{{ "BWS.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
          <!--End Single blog Post style4-->
          <!--Start Single blog Post style4-->
          <div
            class="single-blog-post style4 wow fadeInUp"
            data-wow-delay="200ms"
            data-wow-duration="1500ms"
          >
            <div class="img-holder">
              <img src="assets/images/blog/v2-3.jpg" alt="Awesome Image" />
              <div class="overlay-style-two"></div>
              <div class="overlay">
                <div class="box">
                  <div class="link-icon">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-link1"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3 class="blog-title">
                <a [routerLink]="['/singleblog']">{{ "BWS.P3" | translate }}</a>
              </h3>
              <div class="meta-box">
                <ul class="meta-info">
                  <li>
                    {{ "BWS.By" | translate }}
                    <a [routerLink]="['/checkout']">{{
                      "BWS.Rubin Santro" | translate
                    }}</a>
                  </li>
                  <li>
                    {{ "BWS.On" | translate }}
                    <a href="#">{{ "BWS.February" | translate }} 04, 2019</a>
                  </li>
                  <li>
                    {{ "BWS.In" | translate }}
                    <a href="#">{{ "BWS.Traditional" | translate }}</a>
                  </li>
                </ul>
              </div>
              <div class="text">
                <p>{{ "BWS.P1" | translate }}</p>
              </div>
              <div class="button">
                <a class="btn-one" [routerLink]="['/singleblog']"
                  >{{ "BWS.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
          <!--End Single blog Post style4-->
          <!--Start Single blog Post style4-->
          <div
            class="single-blog-post style4 wow fadeInUp"
            data-wow-delay="300ms"
            data-wow-duration="1500ms"
          >
            <div class="img-holder">
              <img src="assets/images/blog/v2-4.jpg" alt="Awesome Image" />
              <div class="overlay-style-two"></div>
              <div class="overlay">
                <div class="box">
                  <div class="link-icon">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-link1"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3 class="blog-title">
                <a [routerLink]="['/singleblog']">{{ "BWS.P4" | translate }}</a>
              </h3>
              <div class="meta-box">
                <ul class="meta-info">
                  <li>
                    {{ "BWS.By" | translate }}
                    <a [routerLink]="['/checkout']">{{
                      "BWS.Mark Wood" | translate
                    }}</a>
                  </li>
                  <li>
                    {{ "BWS.On" | translate }}
                    <a href="#">{{ "BWS.January" | translate }} 30, 2019</a>
                  </li>
                  <li>
                    {{ "BWS.In" | translate }}
                    <a href="#">{{ "BWS.Contemporary" | translate }}</a>
                  </li>
                </ul>
              </div>
              <div class="text">
                <p>{{ "BWS.P2" | translate }}</p>
              </div>
              <div class="button">
                <a class="btn-one" [routerLink]="['/singleblog']"
                  >{{ "BWS.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
          <!--End Single blog Post style4-->
          <!--Start Single blog Post style4-->
          <div
            class="single-blog-post style4 wow fadeInUp"
            data-wow-delay="400ms"
            data-wow-duration="1500ms"
          >
            <div class="img-holder">
              <img src="assets/images/blog/v2-5.jpg" alt="Awesome Image" />
              <div class="overlay-style-two"></div>
              <div class="overlay">
                <div class="box">
                  <div class="link-icon">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-link1"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-holder">
              <h3 class="blog-title">
                <a [routerLink]="['/singleblog']">{{ "BWS.P5" | translate }}</a>
              </h3>
              <div class="meta-box">
                <ul class="meta-info">
                  <li>
                    {{ "BWS.By" | translate }}
                    <a [routerLink]="['/checkout']">{{
                      "BWS.Rubin Santro" | translate
                    }}</a>
                  </li>
                  <li>
                    {{ "BWS.On" | translate }}
                    <a href="#">{{ "BWS.January" | translate }} 16, 2019</a>
                  </li>
                  <li>
                    {{ "BWS.In" | translate }}
                    <a href="#">{{ "BWS.Traditional" | translate }}</a>
                  </li>
                </ul>
              </div>
              <div class="text">
                <p>{{ "BWS.P1" | translate }}</p>
              </div>
              <div class="button">
                <a class="btn-one" [routerLink]="['/singleblog']"
                  >{{ "BWS.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
          <!--End Single blog Post style4-->
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="post-pagination text-center">
              <li>
                <a href="#"
                  ><i class="fa fa-angle-left" aria-hidden="true"></i
                ></a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li>
                <a href="#"
                  ><i class="fa fa-angle-right" aria-hidden="true"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--Start sidebar Wrapper-->
      <div class="col-xl-3 col-lg-4 col-md-7 col-sm-12">
        <div class="sidebar-wrapper">
          <div class="sidebar-search-box">
            <form class="search-form" action="#">
              <input placeholder="Your Keyword..." type="text" />
              <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
          <!--Start single sidebar-->
          <div class="single-sidebar categories-box">
            <div class="sidebar-title">
              <div class="title">{{ "BWS.Categories" | translate }}</div>
            </div>
            <ul class="categories clearfix">
              <li>
                <a [routerLink]="['/classic1']"
                  >{{ "BWS.Modern Design" | translate }}<sup>(7)</sup></a
                >
              </li>
              <li>
                <a [routerLink]="['/classic2']"
                  >{{ "BWS.Architecture" | translate }}<sup>(5)</sup></a
                >
              </li>
              <li>
                <a [routerLink]="['/modern1']"
                  >{{ "BWS.Interior & Exterior" | translate }}<sup>(4)</sup></a
                >
              </li>
              <li>
                <a [routerLink]="['/modern2']"
                  >{{ "BWS.Residential" | translate }}<sup>(3)</sup></a
                >
              </li>
              <li>
                <a [routerLink]="['/fwidth1']"
                  >{{ "BWS.Commercial Works" | translate }}<sup>(8)</sup></a
                >
              </li>
              <li>
                <a [routerLink]="['/fwidth2']"
                  >{{ "BWS.Uncategorized" | translate }}<sup>(2)</sup></a
                >
              </li>
            </ul>
          </div>
          <!--End single sidebar-->
          <!--Start single sidebar-->
          <div class="single-sidebar">
            <div class="sidebar-title">
              <div class="title">{{ "BWS.Recent Post" | translate }}</div>
            </div>
            <ul class="recent-post">
              <li>
                <div class="img-holder">
                  <img
                    src="assets/images/sidebar/recent-post-1.jpg"
                    alt="Awesome Image"
                  />
                  <div class="overlay-style-one">
                    <div class="box">
                      <div class="content">
                        <a href="#"><span class="icon-link"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="title-holder">
                  <span>{{ "BWS.March" | translate }} 10, 2019</span>
                  <h5 class="post-title">
                    <a href="#"
                      >{{ "BWS.Creating drama and" | translate }}<br />
                      {{ "BWS.feeling with..." | translate }}</a
                    >
                  </h5>
                </div>
              </li>
              <li>
                <div class="img-holder">
                  <img
                    src="assets/images/sidebar/recent-post-2.jpg"
                    alt="Awesome Image"
                  />
                  <div class="overlay-style-one">
                    <div class="box">
                      <div class="content">
                        <a href="#"><span class="icon-link"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="title-holder">
                  <span>{{ "BWS.March" | translate }} 02, 2019</span>
                  <h5 class="post-title">
                    <a href="#"
                      >{{ "BWS.Wondering if interior" | translate }}<br />
                      {{ "BWS.design is dying..." | translate }}</a
                    >
                  </h5>
                </div>
              </li>
              <li>
                <div class="img-holder">
                  <img
                    src="assets/images/sidebar/recent-post-3.jpg"
                    alt="Awesome Image"
                  />
                  <div class="overlay-style-one">
                    <div class="box">
                      <div class="content">
                        <a href="#"><span class="icon-link"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="title-holder">
                  <span>{{ "BWS.February" | translate }} 16, 2019</span>
                  <h5 class="post-title">
                    <a href="#"
                      >{{ "BWS.Low cost interior" | translate }}<br />
                      {{ "BWS.designing ideas for..." | translate }}</a
                    >
                  </h5>
                </div>
              </li>
            </ul>
          </div>
          <!--End single sidebar-->
          <!--Start single sidebar-->
          <div class="single-sidebar categories-box">
            <div class="sidebar-title">
              <div class="title">{{ "BWS.Archives" | translate }}</div>
            </div>
            <div class="archives-form-box">
              <form
                name="archives_form"
                class="default-form"
                action="#"
                method="post"
              >
                <div class="input-box">
                  <select class="selectmenu">
                    <option selected="selected"
                      >{{ "BWS.November" | translate }} 2018</option
                    >
                    <option>{{ "BWS.January" | translate }} 2018</option>
                    <option>{{ "BWS.March" | translate }} 2017</option>
                    <option>{{ "BWS.June" | translate }} 2018</option>
                    <option>{{ "BWS.July" | translate }} 2018</option>
                    <option>{{ "BWS.August" | translate }} 2019</option>
                    <option>{{ "BWS.Febury" | translate }} 2019</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
          <!--End single sidebar-->
          <!--Start single-sidebar-->
          <div class="single-sidebar">
            <div class="sidebar-title">
              <div class="title">{{ "BWS.Instagram Feed" | translate }}</div>
            </div>
            <ul class="instagram">
              <li>
                <div class="img-holder">
                  <img
                    src="assets/images/sidebar/instagram-1.jpg"
                    alt="Awesome Image"
                  />
                  <div class="overlay-style-one">
                    <div class="box">
                      <div class="content">
                        <a href="#"><span class="icon-heart"></span>1k</a>
                        <a href="#"><span class="icon-comment"></span>84</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="img-holder">
                  <img
                    src="assets/images/sidebar/instagram-2.jpg"
                    alt="Awesome Image"
                  />
                  <div class="overlay-style-one">
                    <div class="box">
                      <div class="content">
                        <a href="#"><span class="icon-heart"></span>1k</a>
                        <a href="#"><span class="icon-comment"></span>84</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="img-holder">
                  <img
                    src="assets/images/sidebar/instagram-3.jpg"
                    alt="Awesome Image"
                  />
                  <div class="overlay-style-one">
                    <div class="box">
                      <div class="content">
                        <a href="#"><span class="icon-heart"></span>1k</a>
                        <a href="#"><span class="icon-comment"></span>84</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="img-holder">
                  <img
                    src="assets/images/sidebar/instagram-4.jpg"
                    alt="Awesome Image"
                  />
                  <div class="overlay-style-one">
                    <div class="box">
                      <div class="content">
                        <a href="#"><span class="icon-heart"></span>1k</a>
                        <a href="#"><span class="icon-comment"></span>84</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="img-holder">
                  <img
                    src="assets/images/sidebar/instagram-5.jpg"
                    alt="Awesome Image"
                  />
                  <div class="overlay-style-one">
                    <div class="box">
                      <div class="content">
                        <a href="#"><span class="icon-heart"></span>1k</a>
                        <a href="#"><span class="icon-comment"></span>84</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="img-holder">
                  <img
                    src="assets/images/sidebar/instagram-6.jpg"
                    alt="Awesome Image"
                  />
                  <div class="overlay-style-one">
                    <div class="box">
                      <div class="content">
                        <a href="#"><span class="icon-heart"></span>1k</a>
                        <a href="#"><span class="icon-comment"></span>84</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="follow-us-button">
              <a class="btn-two" href="#"
                >{{ "BWS.Follow On Instagram" | translate
                }}<span class="flaticon-next"></span
              ></a>
            </div>
          </div>
          <!--End single-sidebar-->
          <!--Start single-sidebar-->
          <div class="single-sidebar tag-box clerfix">
            <div class="sidebar-title">
              <div class="title">{{ "BWS.Tags" | translate }}</div>
            </div>
            <ul class="popular-tag clearfix">
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Architecture" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Building" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Commercial" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Color" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Design" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Exterior" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Fabric" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Ideas" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Interior" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Lights" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Minimalist" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Modern" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Traditional" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/singleproject']">{{
                  "BWS.Wall Painting" | translate
                }}</a>
              </li>
            </ul>
          </div>
          <!--End single-sidebar-->
        </div>
      </div>
      <!--End Sidebar Wrapper-->
    </div>
  </div>
</section>
<!--End blog area-->
<app-footer></app-footer>
