<!--Start breadcrumb area-->
<section
  class="breadcrumb-area style2"
  style="background-image: url(assets/images/resources/breadcrumb-bg-2.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content-box clearfix">
          <div class="title-s2 text-center">
            <span>{{ "CLASSIC1.Traditional" | translate }}</span>
            <h1>{{ "CLASSIC1.Office Partition Walls" | translate }}</h1>
          </div>
          <div class="breadcrumb-menu float-left">
            <ul class="clearfix">
              <li>
                <a [routerLink]="['/home']">{{
                  "CLASSIC1.Home" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/classic1']">{{
                  "CLASSIC1.Projects" | translate
                }}</a>
              </li>
              <li class="active">
                {{ "CLASSIC1.Single Project" | translate }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start Project Description area-->
<section class="project-description-area">
  <div
    class="pattern-bg wow slideInLeft"
    data-wow-delay="100ms"
    data-wow-duration="1500ms"
  >
    <img
      src="assets/images/pattern/project-description-pattern.jpg"
      alt="Pattern Bg"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <div class="project-description-image-box">
          <img
            src="assets/images/projects/project-single/project-description-1.jpg"
            alt="Awesome Image"
          />
        </div>
      </div>
      <div class="col-xl-7">
        <div class="project-description-content">
          <div class="sec-title">
            <p>{{ "CLASSIC1.Description" | translate }}</p>
            <div class="title">
              {{ "CLASSIC1.similique sunt" | translate }}<br />
              {{ "CLASSIC1.qui officia deserunt" | translate }}
            </div>
          </div>
          <div class="inner-content">
            <p>{{ "CLASSIC1.P1" | translate }}</p>
            <div class="bottpm-text">
              <p>{{ "CLASSIC1.P2" | translate }}</p>
            </div>
            <ul>
              <li>
                {{ "CLASSIC1.Nam libero tempore, cum soluta" | translate }}
              </li>
              <li>
                {{
                  "CLASSIC1.Est eligendi optio cumque nihil impedit quo"
                    | translate
                }}
              </li>
              <li>
                {{
                  "CLASSIC1.Omnis dolor repellendus temporibus autem"
                    | translate
                }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Project Description area-->

<!--Start Project Info Area-->
<section class="project-info-area">
  <div
    class="pattern-bg wow slideInRight"
    data-wow-delay="100ms"
    data-wow-duration="1500ms"
  >
    <img src="assets/images/pattern/project-info-patten.jpg" alt="Pattern Bg" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="project-info-content">
          <div class="project-info-title">
            <h3>{{ "CLASSIC1.Project Info" | translate }}</h3>
          </div>
          <div class="inner-content">
            <ul>
              <li>
                <div class="icon">
                  <span class="icon-maps-and-location1"></span>
                </div>
                <div class="title">
                  <h4>{{ "CLASSIC1.Location" | translate }}</h4>
                  <span>{{
                    "CLASSIC1.New York United States" | translate
                  }}</span>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-ruler"></span>
                </div>
                <div class="title">
                  <h4>{{ "CLASSIC1.Square Meters" | translate }}</h4>
                  <span>452,65m<sup>2</sup></span>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-calendar"></span>
                </div>
                <div class="title">
                  <h4>{{ "CLASSIC1.Project Year" | translate }}</h4>
                  <span>2018</span>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-price"></span>
                </div>
                <div class="title">
                  <h4>{{ "CLASSIC1.Price Value" | translate }}</h4>
                  <span>$65m</span>
                </div>
              </li>
              <li>
                <div class="icon">
                  <span class="icon-group"></span>
                </div>
                <div class="title">
                  <h4>{{ "CLASSIC1.Project Head" | translate }}</h4>
                  <span>{{ "CLASSIC1.Mr. John Meckency" | translate }}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="project-info-image-box">
          <img
            src="assets/images/projects/project-single/project-info-1.jpg"
            alt="Awesome Image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Project Info Area-->

<!--Start Video Image Holder Area-->
<section class="video-image-holder-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="video-holder-box">
          <div class="img-holder">
            <img
              src="assets/images/projects/project-single/video-gallery-1.jpg"
              alt="Awesome Image"
            />
            <div class="icon-holder">
              <div class="icon">
                <div class="inner text-center">
                  <a
                    class="html5lightbox wow zoomIn"
                    data-wow-delay="300ms"
                    data-wow-duration="1500ms"
                    title="crystalo Video Gallery"
                    href="https://www.youtube.com/watch?v=p25gICT63ek"
                  >
                    <span class="flaticon-play-button"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="single-project-image-gallery">
          <img
            src="assets/images/projects/project-single/image-gallery-1.jpg"
            alt="Awesome Image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Video Image Gallery Area-->

<!--Start Similar projects Area-->
<section class="similar-projects-area">
  <div class="container-fluid similar-projects-content">
    <div class="similar-project-title text-center">
      <h2>{{ "CLASSIC1.Similar projects" | translate }}</h2>
    </div>
    <div class="row">
      <!--Start Single Similar Project-->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="single-similar-project">
          <div class="img-holder">
            <img
              src="assets/images/projects/project-single/similar-pro-1.jpg"
              alt="Awesome Image"
            />
          </div>
          <div class="title-holder">
            <span>{{ "CLASSIC1.Contemporary" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleproject']">{{
                "CLASSIC1.Nathan Brooke House" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End Single Similar Project-->
      <!--Start Single Similar Project-->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="single-similar-project">
          <div class="img-holder">
            <img
              src="assets/images/projects/project-single/similar-pro-2.jpg"
              alt="Awesome Image"
            />
          </div>
          <div class="title-holder">
            <span>{{ "CLASSIC1.Modern Design" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleproject']">{{
                "CLASSIC1.State Hermitage Museum" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End Single Similar Project-->
      <!--Start Single Similar Project-->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="single-similar-project">
          <div class="img-holder">
            <img
              src="assets/images/projects/project-single/similar-pro-3.jpg"
              alt="Awesome Image"
            />
          </div>
          <div class="title-holder">
            <span>{{ "CLASSIC1.Traditional" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleproject']">{{
                "CLASSIC1.Central City Building" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End Single Similar Project-->
      <!--Start Single Similar Project-->
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="single-similar-project">
          <div class="img-holder">
            <img
              src="assets/images/projects/project-single/similar-pro-4.jpg"
              alt="Awesome Image"
            />
          </div>
          <div class="title-holder">
            <span>{{ "CLASSIC1.Retreat" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleproject']"
                >{{ "CLASSIC1.Central Florida University" | translate }}
              </a>
            </h3>
          </div>
        </div>
      </div>
      <!--End Single Similar Project-->
    </div>
  </div>
</section>
<!--End Similar projects Area-->
<app-footer></app-footer>
