<!--Start breadcrumb area-->
<section
  class="breadcrumb-area style2"
  style="background-image: url(assets/images/resources/breadcrumb-bg-2.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content-box clearfix">
          <div class="title-s2 text-center">
            <span>{{ "CLASSIC1.Our Projects" | translate }}</span>
            <h1>{{ "CLASSIC1.More than 2300 Projects" | translate }}</h1>
          </div>
          <div class="breadcrumb-menu float-left">
            <ul class="clearfix">
              <li>
                <a [routerLink]="['/home']">{{
                  "CLASSIC1.Home" | translate
                }}</a>
              </li>
              <li>
                <a [routerLink]="['/classic1']">{{
                  "CLASSIC1.Projects" | translate
                }}</a>
              </li>
              <li class="active">
                {{ "CLASSIC1.Classic View V2" | translate }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start Main project area style2-->
<section class="main-project-area style2">
  <div class="container">
    <ul class="project-filter post-filter has-dynamic-filters-counter">
      <li data-filter=".filter-item" class="active">
        <span class="filter-text">{{
          "CLASSIC1.All Projects" | translate
        }}</span>
      </li>
      <li data-filter=".mod">
        <span class="filter-text">{{ "CLASSIC1.Modern" | translate }}</span>
      </li>
      <li data-filter=".contem">
        <span class="filter-text">{{
          "CLASSIC1.Contemporary" | translate
        }}</span>
      </li>
      <li data-filter=".trad">
        <span class="filter-text">{{
          "CLASSIC1.Traditional" | translate
        }}</span>
      </li>
      <li data-filter=".ret">
        <span class="filter-text">{{ "CLASSIC1.Retreat" | translate }}</span>
      </li>
    </ul>
    <div class="row filter-layout masonary-layout">
      <!--Start single project item-->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item contem ret">
        <div class="single-project-style5">
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/projects/v2-1.jpg" alt="Awesome Image" />
              <div class="overlay-box">
                <div class="box">
                  <div class="link">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-out"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <span>{{ "CLASSIC1.Modern Design" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleblog']">{{
                "CLASSIC1.Art Family Residence" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End single project item-->
      <!--Start single project item-->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item mod trad">
        <div class="single-project-style5">
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/projects/v2-2.jpg" alt="Awesome Image" />
              <div class="overlay-box">
                <div class="box">
                  <div class="link">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-out"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <span>{{ "CLASSIC1.Contemporary" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleblog']">{{
                "CLASSIC1.Nathan Brooke House" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End single project item-->
      <!--Start single project item-->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item mod contem">
        <div class="single-project-style5">
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/projects/v2-3.jpg" alt="Awesome Image" />
              <div class="overlay-box">
                <div class="box">
                  <div class="link">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-out"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <span>{{ "CLASSIC1.Traditional" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleblog']">{{
                "CLASSIC1.Office Partition Walls" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End single project item-->

      <!--Start single project item-->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item mod trad">
        <div class="single-project-style5">
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/projects/v2-4.jpg" alt="Awesome Image" />
              <div class="overlay-box">
                <div class="box">
                  <div class="link">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-out"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <span>{{ "CLASSIC1.Contemporary" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleblog']">{{
                "CLASSIC1.Nathan Brooke House" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End single project item-->
      <!--Start single project item-->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item mod contem">
        <div class="single-project-style5">
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/projects/v2-5.jpg" alt="Awesome Image" />
              <div class="overlay-box">
                <div class="box">
                  <div class="link">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-out"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <span>{{ "CLASSIC1.Traditional" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleblog']">{{
                "CLASSIC1.Office Partition Walls" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End single project item-->
      <!--Start single project item-->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item contem ret">
        <div class="single-project-style5">
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/projects/v2-6.jpg" alt="Awesome Image" />
              <div class="overlay-box">
                <div class="box">
                  <div class="link">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-out"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <span>{{ "CLASSIC1.Modern Design" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleblog']">{{
                "CLASSIC1.Art Family Residence" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End single project item-->

      <!--Start single project item-->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item mod contem">
        <div class="single-project-style5">
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/projects/v2-7.jpg" alt="Awesome Image" />
              <div class="overlay-box">
                <div class="box">
                  <div class="link">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-out"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <span>{{ "CLASSIC1.Traditional" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleblog']">{{
                "CLASSIC1.Office Partition Walls" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End single project item-->
      <!--Start single project item-->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item contem ret">
        <div class="single-project-style5">
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/projects/v2-8.jpg" alt="Awesome Image" />
              <div class="overlay-box">
                <div class="box">
                  <div class="link">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-out"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <span>{{ "CLASSIC1.Modern Design" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleblog']">{{
                "CLASSIC1.Art Family Residence" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End single project item-->
      <!--Start single project item-->
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 filter-item mod trad">
        <div class="single-project-style5">
          <div class="img-holder">
            <div class="inner">
              <img src="assets/images/projects/v2-9.jpg" alt="Awesome Image" />
              <div class="overlay-box">
                <div class="box">
                  <div class="link">
                    <a [routerLink]="['/singleblog']"
                      ><span class="icon-out"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">
            <span>{{ "CLASSIC1.Contemporary" | translate }}</span>
            <h3>
              <a [routerLink]="['/singleblog']">{{
                "CLASSIC1.Nathan Brooke House" | translate
              }}</a>
            </h3>
          </div>
        </div>
      </div>
      <!--End single project item-->
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="post-pagination martop20 text-center">
          <li>
            <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li>
            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--End Main project area style2-->

<app-footer></app-footer>
