<!--Start breadcrumb area-->
<section
  class="breadcrumb-area style2"
  style="background-image: url(assets/images/resources/breadcrumb-bg-2.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content-box clearfix">
          <div class="title-s2 text-center">
            <span>{{ "SERVICES.Our Services" | translate }}</span>
            <h1>{{ "SERVICES.Bringing Great Design" | translate }}</h1>
          </div>
          <div class="breadcrumb-menu float-left">
            <ul class="clearfix">
              <li>
                <a [routerLink]="['/home']">{{
                  "SERVICES.Home" | translate
                }}</a>
              </li>
              <li class="active">{{ "SERVICES.Services" | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start services style2 Service Page-->
<section class="services-style2-service-page">
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <div class="sec-title">
          <p>{{ "SERVICES.Categories" | translate }}</p>
          <div class="title">
            {{ "SERVICES.Working" | translate }}
            <span>{{ "SERVICES.Sectors" | translate }}</span>
          </div>
        </div>
      </div>
      <div class="col-xl-7">
        <div class="text">
          <p>
            {{ "SERVICES.P1" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Start single service style2-->
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div
          class="single-service-style2 wow fadeInUp"
          data-wow-delay="0ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/v2-1.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder">
            <div class="icon-holder">
              <span class="icon-concept"></span>
            </div>
            <div class="inner">
              <h3>{{ "SERVICES.Concept Designs" | translate }}</h3>
              <div class="text">
                <p>
                  {{ "SERVICES.P2" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a class="btn-one" [routerLink]="['/BGV']"
                  >{{ "SERVICES.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style2-->
      <!--Start single service style2-->
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div
          class="single-service-style2 wow fadeInUp"
          data-wow-delay="100ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/v2-2.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder">
            <div class="icon-holder">
              <span class="icon-scheme"></span>
            </div>
            <div class="inner">
              <h3>
                {{ "SERVICES.Project Designs" | translate }}
              </h3>
              <div class="text">
                <p>
                  {{ "SERVICES.P3" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a class="btn-one" [routerLink]="['/BGV']"
                  >{{ "SERVICES.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style2-->
      <!--Start single service style2-->
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div
          class="single-service-style2 wow fadeInUp"
          data-wow-delay="200ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/v2-3.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder">
            <div class="icon-holder">
              <span class="icon-cupboard"></span>
            </div>
            <div class="inner">
              <h3>{{ "SERVICES.Make Overs" | translate }}</h3>
              <div class="text">
                <p>
                  {{ "SERVICES.P4" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a class="btn-one" [routerLink]="['/BGV']"
                  >{{ "SERVICES.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style2-->

      <!--Start single service style2-->
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div
          class="single-service-style2 wow fadeInUp"
          data-wow-delay="300ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/v2-4.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder">
            <div class="icon-holder">
              <span class="icon-teacher"></span>
            </div>
            <div class="inner">
              <h3>{{ "SERVICES.Consulting" | translate }}</h3>
              <div class="text">
                <p>
                  {{ "SERVICES.P4" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a class="btn-one" [routerLink]="['/BGV']"
                  >{{ "SERVICES.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style2-->
      <!--Start single service style2-->
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div
          class="single-service-style2 wow fadeInUp"
          data-wow-delay="400ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/v2-5.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder">
            <div class="icon-holder">
              <span class="icon-furniture-and-household"></span>
            </div>
            <div class="inner">
              <h3>{{ "SERVICES.Glass & Wrought" | translate }}</h3>
              <div class="text">
                <p>
                  {{ "SERVICES.P2" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a class="btn-one" [routerLink]="['/BGV']"
                  >{{ "SERVICES.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style2-->
      <!--Start single service style2-->
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div
          class="single-service-style2 wow fadeInUp"
          data-wow-delay="500ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/v2-6.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder">
            <div class="icon-holder">
              <span class="icon-sketch"></span>
            </div>
            <div class="inner">
              <h3>{{ "SERVICES.Space Planning" | translate }}</h3>
              <div class="text">
                <p>
                  {{ "SERVICES.P3" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a class="btn-one" [routerLink]="['/BGV']"
                  >{{ "SERVICES.Read More" | translate
                  }}<span class="flaticon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style2-->
    </div>
  </div>
</section>
<!--End services style2 Service Page-->

<!--Start services style1 service page-->
<section class="services-style1-service-page">
  <div class="container">
    <div
      class="sec-title text-center wow fadeInDown"
      data-wow-delay="100ms"
      data-wow-duration="1200ms"
    >
      <p>{{ "SERVICES.Interior Elements" | translate }}</p>
      <div class="title">
        {{ "SERVICES.Some Special" | translate }}
        <span>{{ "SERVICES.Services" | translate }}</span>
      </div>
    </div>
    <div class="row">
      <!--Start single service style1-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div
          class="single-service-style1 wow fadeInUp"
          data-wow-delay="0ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/1.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder bg-white">
            <div class="inner-content">
              <div class="top">
                <div class="icon">
                  <span class="icon-lamp"></span>
                </div>
                <div class="count">
                  <h1>01</h1>
                </div>
              </div>
              <div class="bottom">
                <div class="title">
                  <h3>{{ "SERVICES.Lighting" | translate }}</h3>
                </div>
                <div class="read-more">
                  <a [routerLink]="['/singleproject']"
                    ><span class="icon-next"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="overlay-content">
              <div class="text">
                <p>
                  {{ "SERVICES.P6" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a [routerLink]="['/singleproject']"
                  ><span class="icon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style1-->
      <!--Start single service style1-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div
          class="single-service-style1 wow fadeInUp"
          data-wow-delay="200ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/2.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder bg-white">
            <div class="inner-content">
              <div class="top">
                <div class="icon">
                  <span class="icon-paint"></span>
                </div>
                <div class="count">
                  <h1>02</h1>
                </div>
              </div>
              <div class="bottom">
                <div class="title">
                  <h3>{{ "SERVICES.Coloring" | translate }}</h3>
                </div>
                <div class="read-more">
                  <a [routerLink]="['/singleproject']"
                    ><span class="icon-next"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="overlay-content">
              <div class="text">
                <p>
                  {{ "SERVICES.P6" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a [routerLink]="['/singleproject']"
                  ><span class="icon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style1-->
      <!--Start single service style1-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div
          class="single-service-style1 wow fadeInUp"
          data-wow-delay="400ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/3.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder bg-white">
            <div class="inner-content">
              <div class="top">
                <div class="icon">
                  <span class="icon-floor"></span>
                </div>
                <div class="count">
                  <h1>03</h1>
                </div>
              </div>
              <div class="bottom">
                <div class="title">
                  <h3>{{ "SERVICES.Patterns" | translate }}</h3>
                </div>
                <div class="read-more">
                  <a [routerLink]="['/singleproject']"
                    ><span class="icon-next"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="overlay-content">
              <div class="text">
                <p>
                  {{ "SERVICES.P6" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a [routerLink]="['/singleproject']"
                  ><span class="icon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style1-->
      <!--Start single service style1-->
      <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
        <div
          class="single-service-style1 wow fadeInUp"
          data-wow-delay="600ms"
          data-wow-duration="1200ms"
        >
          <div class="img-holder">
            <img src="assets/images/services/4.jpg" alt="Awesome Image" />
            <div class="overlay-style-two"></div>
          </div>
          <div class="text-holder bg-white">
            <div class="inner-content">
              <div class="top">
                <div class="icon">
                  <span class="icon-window"></span>
                </div>
                <div class="count">
                  <h1>04</h1>
                </div>
              </div>
              <div class="bottom">
                <div class="title">
                  <h3>{{ "SERVICES.Textures" | translate }}</h3>
                </div>
                <div class="read-more">
                  <a [routerLink]="['/singleproject']"
                    ><span class="icon-next"></span
                  ></a>
                </div>
              </div>
            </div>
            <div class="overlay-content">
              <div class="text">
                <p>
                  {{ "SERVICES.P6" | translate }}
                </p>
              </div>
              <div class="read-more">
                <a [routerLink]="['/singleproject']"
                  ><span class="icon-next"></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End single service style1-->
    </div>
  </div>
</section>
<!--End services style1 service page-->

<!--Start Testimonial Style3 service page-->
<section class="testimonial-style3-service-page">
  <div class="container">
    <div class="sec-title">
      <p>{{ "SERVICES.testimonials" | translate }}</p>
      <div class="title">
        {{ "SERVICES.Our Customer" | translate }}
        <span>{{ "SERVICES.Words" | translate }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="testimonial-carousel-2 owl-carousel owl-theme">
          <!--Start Single Testimonial style2-->
          <div class="single-testimonial-style3">
            <div class="inner-content">
              <div class="client-info">
                <div class="image">
                  <img
                    src="assets/images/testimonial/testi-style3-1.png"
                    alt="Awesome Image"
                  />
                </div>
                <div class="title">
                  <h3>{{ "SERVICES.Z. Gartrell Wright" | translate }}</h3>
                  <span>{{ "SERVICES.Los Angeles" | translate }}</span>
                </div>
              </div>
              <div class="text-box">
                <p>"{{ "SERVICES.P7" | translate }}”.</p>
              </div>
              <div class="review-box">
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <!--End Single Testimonial style2 -->
          <!--Start Single Testimonial style2-->
          <div class="single-testimonial-style3">
            <div class="inner-content">
              <div class="client-info">
                <div class="image">
                  <img
                    src="assets/images/testimonial/testi-style3-2.png"
                    alt="Awesome Image"
                  />
                </div>
                <div class="title">
                  <h3>{{ "SERVICES.H.Sam Danisley" | translate }}</h3>
                  <span>{{ "SERVICES.Newyork City" | translate }}</span>
                </div>
              </div>
              <div class="text-box">
                <p>“{{ "SERVICES.P8" | translate }}”.</p>
              </div>
              <div class="review-box">
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <!--End Single Testimonial style2 -->

          <!--Start Single Testimonial style2-->
          <div class="single-testimonial-style3">
            <div class="inner-content">
              <div class="client-info">
                <div class="image">
                  <img
                    src="assets/images/testimonial/testi-style3-1.png"
                    alt="Awesome Image"
                  />
                </div>
                <div class="title">
                  <h3>{{ "SERVICES.Z. Gartrell Wright" | translate }}</h3>
                  <span>{{ "SERVICES.Los Angeles" | translate }}</span>
                </div>
              </div>
              <div class="text-box">
                <p>"{{ "SERVICES.P7" | translate }}”.</p>
              </div>
              <div class="review-box">
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <!--End Single Testimonial style2 -->
          <!--Start Single Testimonial style2-->
          <div class="single-testimonial-style3">
            <div class="inner-content">
              <div class="client-info">
                <div class="image">
                  <img
                    src="assets/images/testimonial/testi-style3-2.png"
                    alt="Awesome Image"
                  />
                </div>
                <div class="title">
                  <h3>{{ "SERVICES.H.Sam Danisley" | translate }}</h3>
                  <span>{{ "SERVICES.Newyork City" | translate }}</span>
                </div>
              </div>
              <div class="text-box">
                <p>“{{ "SERVICES.P8" | translate }}”.</p>
              </div>
              <div class="review-box">
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <!--End Single Testimonial style2 -->

          <!--Start Single Testimonial style2-->
          <div class="single-testimonial-style3">
            <div class="inner-content">
              <div class="client-info">
                <div class="image">
                  <img
                    src="assets/images/testimonial/testi-style3-1.png"
                    alt="Awesome Image"
                  />
                </div>
                <div class="title">
                  <h3>{{ "SERVICES.Z. Gartrell Wright" | translate }}</h3>
                  <span>{{ "SERVICES.Los Angeles" | translate }}</span>
                </div>
              </div>
              <div class="text-box">
                <p>"{{ "SERVICES.P7" | translate }}”.</p>
              </div>
              <div class="review-box">
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <!--End Single Testimonial style2 -->
          <!--Start Single Testimonial style2-->
          <div class="single-testimonial-style3">
            <div class="inner-content">
              <div class="client-info">
                <div class="image">
                  <img
                    src="assets/images/testimonial/testi-style3-2.png"
                    alt="Awesome Image"
                  />
                </div>
                <div class="title">
                  <h3>{{ "SERVICES.H.Sam Danisley" | translate }}</h3>
                  <span>{{ "SERVICES.Newyork City" | translate }}</span>
                </div>
              </div>
              <div class="text-box">
                <p>“{{ "SERVICES.P8" | translate }}”.</p>
              </div>
              <div class="review-box">
                <ul>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
              </div>
            </div>
          </div>
          <!--End Single Testimonial style2 -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Testimonial Style3 service page-->
<app-footer></app-footer>
