<!--Start breadcrumb area-->
<section
  class="breadcrumb-area style2"
  style="background-image: url(assets/images/resources/breadcrumb-bg-2.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="inner-content-box clearfix">
          <div class="title-s2 text-center">
            <span>{{ "SHOP.Single Product" | translate }}</span>
            <h1>{{ "SHOP.That Perfectly Fits Your Life" | translate }}</h1>
          </div>
          <div class="breadcrumb-menu float-left">
            <ul class="clearfix">
              <li>
                <a [routerLink]="['/home']">{{ "SHOP.Home" | translate }}</a>
              </li>
              <li>
                <a [routerLink]="['/ourproducts']">{{
                  "SHOP.Shop" | translate
                }}</a>
              </li>
              <li class="active">{{ "SHOP.Single Product" | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End breadcrumb area-->

<!--Start shop area-->
<section id="shop-area" class="single-shop-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="shop-content">
          <!--Start single shop content-->
          <div class="single-shop-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="single-product-image-holder">
                  <img
                    src="assets/images/shop/single-product.jpg"
                    alt="Awesome Image"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="content-box">
                  <span class="price">$29.00</span>
                  <h2>{{ "SHOP.Study Chair" | translate }}</h2>
                  <div class="review-box">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star-half"></i></li>
                    </ul>
                  </div>
                  <div class="text">
                    <p>
                      {{ "SHOP.P3" | translate }}
                    </p>
                  </div>
                  <div class="location-box">
                    <p>
                      {{
                        "SHOP.Check Delivery Option at Your Location:"
                          | translate
                      }}
                    </p>
                    <form action="#">
                      <input type="text" placeholder="Pincode" />
                      <button type="submit">
                        {{ "SHOP.Check" | translate }}</button
                      ><br />
                    </form>
                    <span>{{
                      "SHOP.Expected Delivery in 4-10 Days" | translate
                    }}</span>
                  </div>
                  <div class="addto-cart-box">
                    <input
                      class="quantity-spinner"
                      type="text"
                      value="2"
                      name="quantity"
                    />
                    <button class="btn-one addtocart" type="submit">
                      {{ "SHOP.Add to Cart" | translate }}
                    </button>
                  </div>
                  <div class="share-products-socials">
                    <h5>{{ "SHOP.Share This Product" | translate }}</h5>
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fa fa-facebook fb" aria-hidden="true"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-twitter tw" aria-hidden="true"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-pinterest pin" aria-hidden="true"></i
                        ></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-linkedin lin" aria-hidden="true"></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End single shop content-->
          <!--Start product tab box-->
          <div class="row">
            <div class="col-md-12">
              <div class="product-tab-box tabs-box">
                <ul class="tab-btns tab-buttons clearfix">
                  <li data-tab="#desc" class="tab-btn">
                    <span>{{ "SHOP.Descriprion" | translate }}</span>
                  </li>
                  <li data-tab="#review" class="tab-btn active-btn">
                    <span>{{ "SHOP.Reviews (2)" | translate }}</span>
                  </li>
                </ul>
                <div class="tabs-content">
                  <div class="tab" id="desc">
                    <div class="product-details-content">
                      <div class="desc-content-box">
                        <p>
                          {{ "SHOP.P4" | translate }}
                        </p>
                        <p>
                          {{ "SHOP.P5" | translate }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="tab active-tab" id="review">
                    <div class="review-box-holder">
                      <div class="row">
                        <!--Start single review box-->
                        <div class="col-xl-6">
                          <div class="single-review-box">
                            <div class="image-holder">
                              <img
                                src="assets/images/shop/review-1.png"
                                alt="Awesome Image"
                              />
                            </div>
                            <div class="text-holder">
                              <div class="top">
                                <div class="name">
                                  <h3>
                                    {{ "SHOP.Steven Rich" | translate }}
                                    <span
                                      >– {{ "SHOP.September" | translate }} 17,
                                      2018:</span
                                    >
                                  </h3>
                                </div>
                                <div class="review-box">
                                  <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="text">
                                <p>
                                  {{ "SHOP.P6" | translate }}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--End single review box-->
                        <!--Start single review box-->
                        <div class="col-xl-6">
                          <div class="single-review-box">
                            <div class="image-holder">
                              <img
                                src="assets/images/shop/review-2.png"
                                alt="Awesome Image"
                              />
                            </div>
                            <div class="text-holder">
                              <div class="top">
                                <div class="name">
                                  <h3>
                                    {{ "SHOP.William Cobus" | translate }}
                                    <span
                                      >– {{ "SHOP.September" | translate }} 17,
                                      2018:</span
                                    >
                                  </h3>
                                </div>
                                <div class="review-box">
                                  <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                  </ul>
                                </div>
                              </div>
                              <div class="text">
                                <p>
                                  {{ "SHOP.P7" | translate }}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--End single review box-->
                      </div>
                    </div>
                    <div class="review-form">
                      <div class="shop-page-title">
                        <div class="title">
                          {{ "SHOP.Add Your" | translate }}
                          <span>{{ "SHOP.Comments" | translate }}</span>
                        </div>
                        <p>{{ "SHOP.P8" | translate }} <b>*</b></p>
                      </div>
                      <form id="review-form" action="#">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="input-box">
                              <p>{{ "SHOP.Name" | translate }}<span>*</span></p>
                              <input
                                type="text"
                                name="fname"
                                placeholder=""
                                required=""
                              />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-box">
                              <p>
                                {{ "SHOP.Email" | translate }}<span>*</span>
                              </p>
                              <input
                                type="email"
                                name="email"
                                placeholder=""
                                required=""
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="add-rating-box">
                              <div class="add-rating-title">
                                <h4>{{ "SHOP.Your Rating" | translate }}</h4>
                              </div>
                              <div class="review-box">
                                <ul>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                  <li><i class="fa fa-star"></i></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="input-box">
                              <p>
                                {{ "SHOP.Your Review" | translate
                                }}<span>*</span>
                              </p>
                              <textarea
                                name="review"
                                placeholder=""
                                required=""
                              ></textarea>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <button class="btn-one" type="submit">
                              {{ "SHOP.Post Comment" | translate }}
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End product tab box-->
          <!--Start related product box-->
          <div class="related-product">
            <div class="shop-page-title">
              <div class="title">
                {{ "SHOP.Raleted" | translate }}
                <span>{{ "SHOP.Products" | translate }}</span>
              </div>
            </div>
            <div class="row">
              <!--Start single product item-->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-product-item text-center">
                  <div class="img-holder">
                    <img
                      src="assets/images/shop/4.jpg"
                      alt="Awesome Product Image"
                    />
                  </div>
                  <div class="title-holder text-center">
                    <div class="static-content">
                      <h3 class="title text-center">
                        <a [routerLink]="['/singleproducts']">{{
                          "SHOP.Garden Chair" | translate
                        }}</a>
                      </h3>
                      <span>$99.00</span>
                    </div>
                    <div class="overlay-content">
                      <ul class="clearfix">
                        <li>
                          <a [routerLink]="['/singleproducts']"
                            ><span class="icon-cart"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Add to Cart" | translate }}</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon-heart"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Add Whishlist" | translate }}</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon-refresh"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Compare" | translate }}</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single product item-->
              <!--Start single product item-->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-product-item text-center">
                  <div class="img-holder">
                    <img
                      src="assets/images/shop/5.jpg"
                      alt="Awesome Product Image"
                    />
                  </div>
                  <div class="title-holder text-center">
                    <div class="static-content">
                      <h3 class="title text-center">
                        <a [routerLink]="['/singleproducts']">{{
                          "SHOP.Office Chair" | translate
                        }}</a>
                      </h3>
                      <span>$74.00</span>
                    </div>
                    <div class="overlay-content">
                      <ul class="clearfix">
                        <li>
                          <a [routerLink]="['/singleproducts']"
                            ><span class="icon-cart"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Add to Cart" | translate }}</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon-heart"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Add Whishlist" | translate }}</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon-refresh"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Compare" | translate }}</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single product item-->
              <!--Start single product item-->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-product-item text-center">
                  <div class="img-holder">
                    <img
                      src="assets/images/shop/6.jpg"
                      alt="Awesome Product Image"
                    />
                  </div>
                  <div class="title-holder text-center">
                    <div class="static-content">
                      <h3 class="title text-center">
                        <a [routerLink]="['/singleproducts']">{{
                          "SHOP.Study Lamp" | translate
                        }}</a>
                      </h3>
                      <span>$29.00</span>
                    </div>
                    <div class="overlay-content">
                      <ul class="clearfix">
                        <li>
                          <a [routerLink]="['/singleproducts']"
                            ><span class="icon-cart"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Add to Cart" | translate }}</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon-heart"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Add Whishlist" | translate }}</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon-refresh"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Compare" | translate }}</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single product item-->
              <!--Start single product item-->
              <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-product-item text-center">
                  <div class="img-holder">
                    <img
                      src="assets/images/shop/8.jpg"
                      alt="Awesome Product Image"
                    />
                  </div>
                  <div class="title-holder text-center">
                    <div class="static-content">
                      <h3 class="title text-center">
                        <a [routerLink]="['/singleproducts']">{{
                          "SHOP.Garden Chair" | translate
                        }}</a>
                      </h3>
                      <span>$99.00</span>
                    </div>
                    <div class="overlay-content">
                      <ul class="clearfix">
                        <li>
                          <a [routerLink]="['/singleproducts']"
                            ><span class="icon-cart"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Add to Cart" | translate }}</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon-heart"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Add Whishlist" | translate }}</p>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#"
                            ><span class="icon-refresh"></span>
                            <div class="toltip-content">
                              <p>{{ "SHOP.Compare" | translate }}</p>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--End single product item-->
            </div>
          </div>
          <!--End related product box-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--End shop area-->
<app-footer></app-footer>
